<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }}{% if page.subtitle %} - {{ page.subtitle }}{% endif %} | {% endif %}{{ site.theme_settings.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme_settings.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% comment %} CSS {% endcomment %}
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"/>
	{% comment %} SEO 链接 {% endcomment %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}"/>
	{% comment %} RSS {% endcomment %}
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme_settings.title }}" href="{{ '/feed.xml' | relative_url }}" />
	{% if site.theme_settings.katex or page.katex and page.id %}
	{% comment %} KaTeX {% endcomment %}	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous">
	{% endif %}
</head>
