{% if site.theme_settings.rss %}
<li>
	<a href="{{ "/feed.xml" | relative_url }}" title="{{ site.theme_settings.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}



{% if site.theme_settings.github %}
<li>
	<a href="https://github.com/{{ site.theme_settings.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub">
		<i class="iconfont i-github-fill"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.linkedin %}
<li>
	<a href="{{ site.theme_settings.linkedin }}" title="{{ site.theme_settings.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}


{% if site.theme_settings.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme_settings.twitter }}" title="{{ site.theme_settings.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.theme_settings.youtube }}" title="{{ site.theme_settings.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.weibo %}
<li>
	<a href="http://weibo.com/{{ site.theme_settings.weibo }}" title="{{ site.theme_settings.str_follow_on }} Weibo">
		<i class="fa fa-fw fa-weibo"></i>
	</a>
</li>
{% endif %}


{% if site.theme_settings.email_address %}
<li>
	<a href="mailto:{{ site.theme_settings.email_address }}" title="{{ site.theme_settings.str_email }}">
		<i class="iconfont i-mail-fill"></i>
	</a>
</li>
{% endif %}