// 网站顶部
body > nav {
  padding: 0.5rem 1.5rem;
  //小屏不显示输入框
  @media screen and (max-width: 640px) {
    padding: 0.5rem;
  }
  @media screen and (min-width: 1366px) {
    padding: 0.6rem 2%;
  }
  background: $brand-color;
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.98) 25%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0.2) 100%
  );
  width: 100%;
  display: flex;
  justify-content: space-between;

  // 大屏吸顶
  @media screen and (min-width: 960px) {
    position: sticky;
    top: 0;
  }

  .avatar {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    outline: none;
  }

  .site-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    outline: none;
  }

  a {
    outline: none;
    color: $header-link-color;
  }

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    text-align: right;
    display: flex;
    align-items: center;
  }
  li {
    margin-right: 0.4em;
  }
}

/* --- Search form --- */
form {
  border: 0;
  border-bottom: 2px solid $search-color;
  outline: 0;

  *:focus {
    outline: none;
  }

  //小屏不显示输入框
  @media screen and (max-width: 640px) {
    border-bottom: none;
    input {
      display: none;
    }
  }

  input {
    &[type="text"] {
      box-sizing: border-box;
      border: 0;
      outline: 0;
      color: $search-color;
      width: 12rem;
      &:focus {
        width: 38vw;
      }
    }

    &::-moz-placeholder {
      color: $search-color;
      opacity: 1;
    }

    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
      color: $search-color;
    }
  }

  button {
    border: none;
    font-size: 0.9em;
    background-color: $brand-color;
    color: $search-color;
  }
}
