main {
  // padding: 0 10%;
  width: 100%;

  // 文章顶部
  &>header {
    font-size: 1.2em;
    margin: 1em 0 3em;
    text-align: center;

    @media screen and (max-width: 640px) {
      font-size: 1.05em;
    }

    &>h1 {
      // 文章标题 title
      margin: 0;
    }

    &>h2 {
      // 文章子标题 subtitle
      // font-size: 1.45em;
      font-weight: normal;
      margin: 0;
    }

    // 文章和作者信息
    address {
      color: rgba($text-color, 0.5);
      font-size: 0.9em;
      letter-spacing: 0.1em;
      margin: 0;
    }
  }

  // 文章主题
  article {
    border-bottom: 1px solid $border-color;
    width: 100%;

    a {
      @extend .body-link;
    }
  }
}

// 文章主题
article {
  padding-left: 10%;
  display: flex;
  justify-content: space-around;

  // 内容区
  &>section {
    width: 70%;

    &> :last-child {
      margin-bottom: 0;
    }

    // 标题链接
    & h2,
    & h3,
    & h4 {
      &>a:empty {

        &::after {
          // 标题链接样式
          font-family: "iconfont" !important;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: -1.5em;
          font-size: 0.75em;
          content: "\203b";
          opacity: 0;
          transition-property: opacity, font-size;
          transition-duration: 0.5s;
        }

        &:hover {
          // 悬浮链接样式
          text-decoration: none;

          &::after {
            color: $link-color;
            opacity: 1 !important;
            font-size: 0.9em;
          }
        }
      }
    }

    & h2,
    & h3,
    & h4 {
      &:hover>a:empty::after {
        // 悬浮标题时，锚点样式
        opacity: 0.5;
      }
    }

    &>h2 {
      margin-top: 0;
      padding-top: 2.4rem;
    }

    &>h3 {
      margin-top: 0;
      padding-top: 2rem;
    }
  }

  // 文章侧边栏
  &>aside {
    max-width: 20%;
    flex-grow: 1;
    padding-top: 1em;

    ul {
      position: sticky;
      top: 3.5rem;
      font-size: 0.9em;

      // 目录标题链接
      &>li {
        line-height: 2em;
        list-style: none;
        color: gray;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
          color: inherit;
        }
      }
    }
  }
}

header.has-image {
  color: $feature-image-text-color;
  background: no-repeat center center;
  background-color: gray;
  background-attachment: scroll;
  -webkit-background-size: $feature-image-size;
  -moz-background-size: $feature-image-size;
  -o-background-size: $feature-image-size;
  background-size: $feature-image-size;
  margin-bottom: 1em;
  padding: $padding-large 0;

  address {
    margin-top: 1em;
    color: rgba($feature-image-text-color, 0.9);
  }

  &>* {
    text-shadow: 0 0 0.2em #000, 0 0 0.3em gray;
  }
}

@media screen {

  // 超大屏幕
  @media (min-width: 2048px) {
    article {
      padding-left: 15%;

      &>section {
        width: 70%;
      }
    }
  }

  @media (max-width: 1366px) {
    article {
      padding-left: 5%;

      &>section {
        width: 73%;
        // @media (max-width: 640px) {
        //   width: 90%;
        // }
      }
    }
  }

  @media (max-width: 1080px) {
    article {
      flex-direction: row-reverse;
      padding-left: 1%;
      padding-right: 1%;

      &>section {
        width: 78%;
        // @media (max-width: 640px) {
        //   width: 90%;
        // }
      }
    }
  }

  // 小于960宽带隐藏 侧边栏
  @media (max-width: 960px) {
    article {
      padding-left: 0;

      &>section {
        width: 85%;

        @media (max-width: 640px) {
          width: 90%;
        }
      }

      &>aside {
        display: none;
      }
    }
  }
}