main {
  padding: 0 10%;
  width: 100%;
  // display: flex;
}

// 文章顶部
main > header {
  margin-bottom: 6%;
  text-align: center;

  & > h1 {
    // title
    margin: 0;
  }
  & > h2 {
    // subtitle
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  // 文章和作者信息
  address {
    color: rgba($text-color, 0.5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
  }
}

article {
  border-bottom: 1px solid $border-color;
  width: 100%;
  display: flex;
  justify-content: space-between;

  aside {
    position: sticky;
    top: 1em;
    width: 18%;
    ul>li{
      list-style: none;
      color: gray;
      overflow: hidden;
      width: 100%;
      
    }
  }
  // 内容区
  & > section {
    width: 80%;
    & > :last-child {
      margin-bottom: 0;
    }
    // 标题链接
    & > h2 > a,
    & > h3 > a,
    & > h4 > a {
      @extend .body-link;
      color: $link-color;
      &:empty::after {
        content: "#";
      }
    }
  }

  a {
    @extend .body-link;
  }
}

.feature-image {
  padding: 0%;
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, 0.7);
    }
  }
  section {
    @extend %padding-regular;
  }
}
