---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div
    class="call-out"
    style="background-image: url('{{ site.baseurl }}/{{site.theme_settings.header_text_feature_image}}')"
  >
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %} {% unless post.private %}
    <section>
      <a href="{{ post.url | relative_url }}">      
        <h2 class="post-title">
          {{ post.title }}{% if post.subtitle %} ({{ post.subtitle }}){% endif %}
        </h2>
        <div class="post-content">
          {{ post.content | strip_html | truncate: 200 }}
        </div>
      </a>
      <p class="meta">
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <span class="tag">{{ post.tags | join: ", " }}</span>
      </p>
    </section>

    {% endunless %} {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a
      href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}"
      class="button"
    >
      <i class="iconfont i-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %} {% if paginator.next_page %}
    <a
      href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}"
      class="button"
    >
      {{ site.theme_settings.str_next_page }}
      <i class="iconfont i-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
