---
layout: default
---

<header style="background-image: url('{{ page.img }}')">
  <h1>{{ page.title }}</h1>
  {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
  <address>
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
  </address>
</header>
<article {% if page.img %}class="feature-image" {% endif %}>
  <section>{% include anchor.html html=content h_max=4 beforeHeading=true %}</section>
  <aside>{% include toc.html html=content h_max=3%}</aside>
</article>
<footer>{% include tags_list.html tags=page.tags %}</footer>


{% comment %} Post navigation {% endcomment %}
{% if site.theme_settings.post_navigation %}
{% include post_nav.html %} 
{% endif %}
